*.psd filter=lfs diff=lfs merge=lfs -text
*.vcd filter=lfs diff=lfs merge=lfs -text
*.dat filter=lfs diff=lfs merge=lfs -text
models/yolov3.weights filter=lfs diff=lfs merge=lfs -text
models/mod_aud_vid.h5 filter=lfs diff=lfs merge=lfs -text
